# Gradle
.gradle/
build/
local.properties

# IDE
.idea/
*.iml
.kotlin/

# Keystore
*.jks
*.keystore
keys/

# Misc
.DS_Store
captures/
.externalNativeBuild/
.cxx/
keys/

# Собранные APK (лежат в корне проекта, в git не попадают)
*.apk
